<%- include('layouts/header') %>

   <div class="container">
    <div class="row">
        <div class="col-12 mb-5 mt-5">
            <p class="fw-bold">
                Este es un proyecto pequeño de estudio, desarrollado como parte de mi aprendizaje 
                en desarrollo web backend. Es un clon básico de Twitter construido con TypeScript, Node.js, Express y Sequelize, donde los usuarios pueden registrarse, iniciar sesión, crear tuits y editarlos. La finalidad principal de este proyecto es practicar la arquitectura MVC, manejo de sesiones, relaciones entre modelos y 
                el uso de bases de datos relacionales con Sequelize.
            </p>
        </div>
    </div>
   </div>
    
    
<%- include('layouts/footer') %>
