<%- include('layouts/header') %>

<div class="row">
     <div class="col-12 col-md-6 mx-auto mt-4">
      <% if(session.error){ %>
        <div class="alert alert-dismissible alert-danger fade show" role="alert">
          <%= session.error %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>
      <form method="post" class="bg-primary p-3">
        <legend class="text-center">Edita tu Tuit</legend>
        <div class="mb-3">
         
          <textarea class="form-control" name="tuitEditadoForm" id="tuitEditadoForm" rows="3"><%= tuit.contenido %></textarea>
          
        </div>
        
        <button type="submit" class="btn btn-light text-uppercase d-flex mx-auto">Editar</button>
      </form>
    </div>
</div>

<%- include('layouts/footer') %>