<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<footer class="footer bg-primary text-white text-center mt-4 py-3">
      &copy; <%= new Date().getFullYear() %> Pizzarra. Todos los derechos reservados.
</footer>
</body>
</html>