<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap.css">
    <title>Pizzarra</title>
</head>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Pizzarra</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <!-- Menú a la izquierda -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <% if (session.userId) { %>
          <li class="nav-item">
            <a class="nav-link" href="/tuits">Mis Tuits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registro">Registrar</a>
          </li>
        <% } %>

        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>

      <!-- Usuario a la derecha -->
      <% if (session.userId) { %>
        <span class="navbar-text ms-auto text-white">
          Bienvenido, <strong><%= session.userName %></strong>
        </span>
      <% } %>
    </div>
  </div>
</nav>

<!-- DEBUG -->
<!-- <pre><%= JSON.stringify(session, null, 2) %></pre> -->
<body>